@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-brand-color-1: #145049;
    --main-brand-color-2: #c79e74;
    --secondary-brand-color-1: #e7ebd5;
    --gray-color-1: #969696;
    --gray-color-2: #9b9f89;
    --dark-color-1: #232d23;
    --blue-color-1: #1080bf;
    --green-color-1: #f0f1e9;
  }
}

@layer components {
  .active-text {
    color: var(--main-brand-color-1);
  }
  .active-underline {
    border-bottom: 2px solid var(--main-brand-color-2);
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
