@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-brand-color-1: #145049;
    --main-brand-color-2: #c79e74;
    --gray-color-1: #969696;
  }
}

@layer components {
  .active-text {
    color: var(--main-brand-color-1);
  }
  .active-underline {
    border-bottom: 2px solid var(--main-brand-color-2);
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
